
/* reset */
select:focus {
	outline:none
}

body {
	font-family:"Guardian Agate Sans",Arial,sans-serif;
	font-size:10px;
	color:#EFEFEF;
	background-color:#4b4b4b;
	margin:0px;
	padding:0px;
	overflow-x:hidden;
}

body:after{
   display:none;
  /* content: url(../images/splash-1260.jpg) url(../images/splash-739.jpg) url(../images/background0.png) url(../images/concentric-circles/background1.png) url(../images/concentric-circles/background2.png) url(../images/concentric-circles/background3.png) url(../images/concentric-circles/background4.png) url(../images/concentric-circles/background5.png) url(../images/concentric-circles/background6.png) url(../images/concentric-circles/background7.png) url(../images/concentric-circles/background8.png) url(../images/concentric-circles/background9.png) url(../images/concentric-circles/background10.png) url(../images/concentric-circles/background11.png)  url(../images/concentric-circles/background12.png) url(../images/concentric-circles/background13.png) url(../images/concentric-circles/background1.png) url(../images/concentric-circles/background14.png) url(../images/concentric-circles/background15.png) url(../images/concentric-circles/background16.png) url(../images/concentric-circles/background17.png) url(../images/concentric-circles/background18.png) url(../images/concentric-circles/background19.png) url(../images/concentric-circles/background20.png);*/
}

p {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:200;
	font-size:1.8em;
	line-height:1.5em;
	color:#767676
}

h2 {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:400;
	font-size:3em;
	line-height:1.2em;
	color:#333
}

h3 {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:400;
	font-size:2.4em;
	line-height:1.05em;
	color:#333
}

h4 {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:400;
	font-size:2.4em;
	text-align:center;
	line-height:1.5em;
	color:#767676
}

h5 {
	display:inline!important;
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:500;
	font-size:2.2em;
	text-align:left;
	line-height:1.2em;
	padding:0 0 12px;
	margin:0;
	color:#333
}

h6 {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:400;
	font-size:1.8em;
	text-align:left;
	line-height:1.5em;
	padding:0;
	margin:0;
	color:#333
}

#loading {
	font-size: 14px;
	font-family: Arial;
	background-color: #4c4c4c;
	height: 460px;
	padding-top: 240px;
	text-align: center;
	width: 100%;
	position: absolute;
	line-height: 18px;
	z-index: 100000;
	left: 0;
	top: 0;
	color: #EFEFEF;
}

/* INTRO */
#introHolder{
  /*display: none;*/
  position:absolute;
  top:0px;
  width:100%;
  height:1500px;

  background-color: #CCCCCC;
  background-image:url(../images/splash-1260.jpg);
  background-attachment: scroll;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;

  overflow:hidden; 

  z-index:998;
}

#introHolder::after { 
    content: "CONTENT HERE ";
}


#introAction {
	position: relative;
	left: 9px;
	width: 80%;
	float: left;
	height: auto;
	background: rgba(0, 0, 0, 0.8);
	padding: 0 12px 24px 0;
}

.intro_headline{
  text-align: left;
	font-family: "Guardian Egyptian Headline", Georgia, serif;
	font-weight: normal;
	font-size: 220%;
	line-height: 140%;
	color: rgba(249, 249, 247, 0.9);
  padding-bottom:12px;
}


.intro_para{
  text-align: left;
  font-family: "Guardian Egyptian Headline", Georgia, serif;
  font-weight: lighter;
  font-size: 120%;
  line-height: 120%;
  color: #F9F9F7;
  padding-top:4%;
}



#introButton {
  text-align: left;
  font-family: "Guardian Agate Sans", "Helvetica", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #F9F9F7;
  float:right;
  background-color: #4BC6DF;
  height:18px;
  border-radius: 17px;
  margin: -12px 12px 0 0;
  padding:9px 10px;

  background-image: url(../images/arrow-right.svg);
  background-position: right;
	background-repeat:no-repeat;

  width:240px;
  cursor : pointer;
  overflow:hidden;

  display:none;
}


#backToTopButton {
	  text-align: left;
	  font-family: "Guardian Agate Sans", "Helvetica", Arial, sans-serif;
	  font-weight: 400;
	  font-size: 15px;
	  color: #F9F9F7;
	  float:left;
	  background-color: #4b4b4b;
	  height:18px;
	  border-radius: 17px;
	  margin: 12px 12px 24px 12px;
	  padding:9px 10px;

	  background-image: url(../images/arrow-up.svg);
	  background-position: right;
	  background-repeat:no-repeat;

	  width:180px;
	  cursor : pointer;
	  overflow:hidden;
	}





/* INTRO END */


#interactive-container {
	width:100%;
	/*max-width:1260px;*/
	-webkit-font-smoothing:antialiased
}

#top-bar {
	position:relative;
	top:0;
	left:0;
	height:4px;
	width:70px;
	background-color:#4bc6df;
	z-index:999;
}

.copy-holder-top {
	clear: right;
	color: #005689;
	float: left;
	font-family: "Guardian Egyptian Headline",Georgia,serif;
	font-size: 2.2em;
	font-weight: 200;
	left: 0;
	line-height: 1.3em;
	margin: 0 0 12px 0px;
	border-left: 1px solid #005689;
	padding: 3px 0 0 10px;
	position: relative;
	width: 450px;
	height: 192px;
	background-color: #FFF;
}



#topAreaTimeStampHolder{
	position:relative;
	float:left;
	clear:left;
	height:auto;
}

/* drop down */
#filter-label {
	float:right;
	top:15px;
	padding:0 12px 3px 0;
	font-weight:400;
	font-size:18px;
	font-family:"Guardian Agate Sans",Arial,sans-serif;
	line-height:1.8em;
	color:#bdbdbd;
}

.styled-select {
	float:right;
	width:181px;
	height:34px;
	padding-left:10px;
	overflow:hidden;
	background:url(../images/dropdown.png) no-repeat 158px #fff;
	border:none;
	border-radius:17px
}

.styled-select:hover {
	background:url(../images/dropdown-white.png) no-repeat 158px #767676
}

.styled-select:hover #filter-dropdown {
	color:#fff
}

#filter-dropdown {
	background:transparent;
	width:192px;
	padding: 5px 5px 5px 2px;
	font-size:16px;
	line-height:1;
	border:0;
	border-radius:0;
	height:34px;
	-webkit-appearance:none;
	font-family:"Guardian Agate Sans",Arial,sans-serif;
	line-height:1.3em;
	color:#767676;
	font-weight:600;
	cursor:pointer
}

#filter-dropdown option {
	padding:10px;
	border-bottom:1px solid #767676;
	font-weight:400;
	color:#767676;
	background:#fff
}

/* drop down end */
#top-header {
	position:relative;
	left:3px;
	width:100%;
	z-index:1000;
}

#top-header h1 {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-size:24px;
	color:#4bc6df;
	width:auto;
	display:inline-block;
	margin-top:3px;
	margin-bottom:5px;
	margin-left:3px
}

.topArea-bottom {
	position:relative;
	width:96%;
	height:72px;
	float:left;
	clear:right;
	padding-right:4%;
	margin-bottom: 12px;
	border-bottom: 1px solid #4d4d4d;
}


#tsunamiGraphic {
	position:absolute;
	top:60px;
	width:100%;
	height:auto;
  	z-index: -1;
  	overflow:hidden;
}

.country {
	fill:#767676;
	stroke:#333;
	stroke-width:.25px
}

.country-selected {
	fill:#4bc6df;
	stroke:#333;
	stroke-width:.25px
}

/* factbox graphics */
.area {
	fill:#4bc6df;
	stroke-width:0
}

.axis path,.axis line {
	fill:none;
	stroke:#DCDCDC;
	stroke-opacity: 0.2;
	shape-rendering:crispEdges
}

.axis text {
    font-family: "Guardian Agate Sans", sans-serif;
    font-size: 11px;
    fill: #EFEFEF;
}

#col-4-graphic {
	width:100%;
	margin:0 0 0 auto
}

#areaGraphHolder svg {
	background:none
}

#busGraphic{
	position: absolute;
	width: 32px;
	height: 16px;
}

#busGraphic svg{
	fill:#4c4c4c;
}
.graphBarAll {
	position:relative;
	height:60px;
	width:99%;
	margin:0 0 1%;
	background-color:#bdbdbd;
	
}

.graphBarCountry {
	position:relative;
	height:60px;
	background-color:#4bc6df;
	left:0px;
	top:0px;
	width:99%;
	margin:0 0 1%;
}

#graphHolder {
	position: relative;
	width: auto;
	margin: 0;
	border-left: 1px solid #DCDCDC;
}

.graphBarHolder {
    clear: right;
    float: left;
    height: 60px;
    margin: 0 0 2px;
    position: relative;
    width: 100%;
}

.graphBarCaptionTopStack {
	font-family: "Guardian Agate Sans","Helvetica",Helvetica, Arial. sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	line-height:.9em;
	position:absolute;
	top:0; 
	float:left;
	clear:right;
	width:auto;
	margin:3px 0 0 3px;
	color: #EFEFEF;

}

.graphBarCaptionBottomStack {
	font-family: "Guardian Egyptian Headline",Georgia,serif;
	font-weight: 200;
	font-size: 3.6em;
	float: left;
	clear: right;
	text-align: left;
	position:absolute;
	top:15px;
	width:auto;
	margin:6px 0 0 3px;
	color:#EFEFEF;
}

.small-col-header {
	color:#333;
	text-align:left;
	position:relative;
	padding-top:3px;
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-size:2.2em;
	font-weight:600;
	height:auto;
	line-height:1.2em
}

.time-stamp{
	position:relative;
	font-family:"Guardian Agate Sans","Helvetica",Helvetica, Arial. sans-serif;
	font-size:1.5em;
	font-weight:400;
	height:auto;
	color:#767676;
	padding:0 0 12px 0;
}

/* key */

#key {
  	position: relative;
	text-align: left;
	top: 0px;
	padding-left: 3px;
	width: 99%;
	float: left;
	clear: right;
}

.key-header{
  font-weight: 600;
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 14px;
  vertical-align: center;
  height:30px;
  overflow:hidden;
  width:120px;
  font-family:"Guardian Agate Sans", Arial, sans-serif;
  margin: 0;
  width: 90px;
  float: left;
  padding: 3px 0 9px 0;
  border-top: dotted 1px #4c4c4c;

}

#key .key-block {
  float: left;
  padding: 3px 0 9px 0;
}
#key .key-block wide{
  width:188px;
}

#key .key-block narrow{
  width:128px;
}
#key .key-block:nth-of-type(even) {
  margin-right: 0;
}

#key .key-block .key-block-circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

#key .key-block p {
  float: left;
  font-size: 14px;
  line-height: 14px;
  vertical-align: center;
  height:30px;
  overflow:hidden;
  width:150px;
  font-family:"Guardian Agate Sans", Arial, sans-serif;
  margin: 0 0 0 12px;
}

#key #footnote {
  clear: both;
  padding-top: 5px;
  font-family: "Guardian Agate Sans", Arial, sans-serif;
  font-size: 12px;
}
.key-block-circle.category1 {
background: #4bc6df;
}

.key-block-circle.category2 {
background: #FF6600;
}

.key-block-circle.category3 {
background: #EFEFEF;
}

.key-block-circle.category-blank {
background: none;
}

#topArea #key .header {
font-weight: 600;
padding-bottom: 7px;
}

/* factbox graphics */
#button-holder {
	position:relative;
	left:3px;
	top:3px;
	width:100%;
	float:left;
	clear:right;
	text-align:center;
	padding-top:23px;
	height:auto
}

.buttonnav {
	float:right;
	width:auto;
	min-width:80px;
	height:25px;
	border-radius:16px;
	text-align:center;
	margin:0 12px 12px 0;
	padding:7px 9px 0;
	font-family:"Guardian Agate Sans",Arial,sans-serif;
	font-size:15px;
	overflow:hidden;
	color:#FFF;
	background-color:#bdbdbd!important;
	cursor:pointer
}

.buttonnav-selected {
	float:right;
	width:auto;
	min-width:80px;
	height:25px;
	border-radius:16px;
	text-align:center;
	margin:0 12px 12px 0;
	padding:7px 9px 0;
	font-family:"Guardian Agate Sans",Arial,sans-serif;
	font-size:15px;
	color:#FFF;
	cursor:pointer
}

.copy-holder-top {
	clear:right;
	color:#005689;
	float:left;
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-size:2.2em;
	font-weight:200;
	left:0;
	line-height:1.3em;
	margin:0 0 12px;
	border-left:1px solid #005689;
	padding:3px 0 0 10px;
	position:relative;
	width:450px;
	height:192px;
	background-color:#FFF
}


#mapView {
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
	border-top:1px solid #333;

}

.factbox-holder-col-left {
	position:relative;
	width:96%;
	height:auto;
	float:left;
	clear:right;
	padding-right:4%;
	margin-bottom: 12px;
}

.factbox-holder-col-right {
	width:96%;
	margin:24px 0;
	padding:12px 2% 36px 0;
	border-top:1px solid #4d4d4d;
}

.factbox-holder {
	position:relative;
	top:0;
	overflow:hidden;
	padding:12px 0 24px 0;
	min-width:300px;
	width:100%;
}

.casualtyFigure {
	fill:#767676
}

.casualtyFigure-selected {
	fill:#4bc6df
}

.casualtyFigure-tourist {
	fill:#F60
}

/*timeline player*/
.timeline {
	position:absolute;
	bottom:0px;
	height:auto;
	/*max-width: 1240px;*/
	width:100%;

}

.progressContainer {
	position:relative;
	width:100%;
	height:36px;
	left:0px;
	padding-top:6px;
	/*background-color:#000*/
}

.playButton {
	position:absolute;
	width:32px;
	height:32px;
	border-radius:99999px;
	background:#333;	
	cursor:pointer;
	left:6px;
}

.playButton[data-status=paused]:before {
	content:'';
	position:absolute;
	display:block;
	width:0;
	height:0;
	border-style:solid;
	border-width:.4em 0 .4em .96em;
	border-color:transparent transparent transparent #f1f1f1;
	-moz-transform:scale(0.99999);
	top:50%;
	left:0;
	margin-top:-.4em;
	margin-left:1.2em
}

.playButton[data-status=playing]:before {
	content:'';
	position:absolute;
	display:block;
	height:13px;
	width:2px;
	border-right:4px solid;
	border-left:4px solid;
	border-color:#f1f1f1;
	left:11px;
	top:10px
}

.playButton:hover {
	background:#4cc5de
}

.playButton:hover[data-status=paused]:before {
	border-color:transparent transparent transparent #333
}

.playButton:hover[data-status=playing]:before {
	border-color:#333
}

.rangeContainer {
	margin-left:52px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-right:18px;
	top:7px;
	position:relative
}

#slider-range {
	border-radius: 0!important;
	height: 3px;
	margin-top: 7px;
}

#slider-range .noUi-handle {
	border-radius:50%!important;
	margin:1px 0 4px;
	height:20px;
	width:20px;
	background-color:#4bc6df!important;
	box-shadow:none;
	border:none;
	top:-10px;
	left:-10px;
	cursor:pointer
}

#slider-range .noUi-handle:after,.element-interactive #slider-range .noUi-handle:before {
	display:none!important;
	content:'';
	background-color:#4cc5de!important
}

.noUi-handle:before,.noUi-handle:after {
	background:none!important
}

#currentSliderInput {
	padding-top:3px;
	padding-bottom:3px;
	margin-top:10px;
	font-size:14px;
	font-weight:400;
	text-align:justify;
	border-top:1px solid;
	border-bottom:1px solid;
	border-color:#DFDFDF
}

/*end timeline css 




/* START RESPONSIVE */
@media only screen and (min-width : 740px) {
	
#topArea {
	position:relative;
	height:160px;	
}

#topAreaTimeStampHolder {
	top:0px;
}

.large-number-top {
	font-family: "Guardian Egyptian Headline",Georgia,serif;
	font-weight: 400;
	font-size: 5.1em;
	float: left;
	clear: right;
	text-align: left;
	position: relative;
	top: 0px;
	left: 3px;
	width: auto;
	color: #BDBDBD;
}
.time-stamp-top{
	position:relative;
	left:3px;
	font-family: "Guardian Egyptian Headline",Georgia,serif;
	font-weight: 400;
	font-size: 2.2em;
	height:auto;
	width:auto;
	color:#BDBDBD;
	margin:1px 0 0 0;
	padding:12px 0 0 3px;
}

#filter-block {
	position: absolute;
	top: 54px;
	right: 18px;
	color: #767676;
}

#factbox-holder{
	margin: 0;
}

.factbox-holder-col-right,.factbox-holder-col-center-left,.factbox-holder-col-center-right {
	position:relative;
	width:47%;
	float:left;
	
	height:auto;
}

.factbox-holder-col-center-right {
	border-right:none;
	padding: 0  0 0 10px;
}

.factbox-holder-col-center-left {
	border-right: 1px solid #dcdcdc;
	padding: 0  0 10px 0;
}

.factbox-holder-col-right {
	width:98%

}

.large-number {
	font-family: "Guardian Egyptian Headline",Georgia,serif;
	font-weight: 400;
	font-size: 5.1em;
	float: left;
	clear: right;
	text-align: left;
	width: 99.9%;
	padding: 3px auto 12px 0;
	margin: 0 .1% 0 0;
	color: #EFEFEF
}

.number-caption {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:400;
	font-size:2.2em;
	line-height:1.2em;
	font-weight:200;
	text-align:left;
	color:#333;
	padding:3px 10px 12px 0;
	clear:both

	}
}

@media only screen and (max-width : 739px) {


	#topArea {
		position:relative;
		height:220px;
	}

	#topAreaTimeStampHolder {
		top:36px;
	}

	.large-number-top {
		font-family: "Guardian Egyptian Headline",Georgia,serif;
		font-weight: 400;
		font-size: 2.6em;
		float: left;
		clear: right;
		text-align: left;
		position: relative;
		top: 0px;
		left: 7px;
		width: auto;
		color: #BDBDBD;
	}


	.time-stamp-top{
		position:relative;
		font-family:"Guardian Agate Sans","Helvetica",Helvetica, Arial. sans-serif;
		font-size:1.5em;
		font-weight:400;
		height:auto;
		width:auto;
		color:#BDBDBD;
		margin:1px 0 0 0;
		padding-bottom:2px;
	}

	#filter-block {
		position:relative;
		float:left;
		top:18px;
		left:7px;
		right:0px;
		color:#767676;
	}


	.factbox-holder-col-right,.factbox-holder-col-center-left,.factbox-holder-col-center-right {
		position: relative;
		left: 8px;
		width: 96%;
		padding: 12px 0 6px 0;
		height: auto;
		
	}
	.factbox-holder-col-center-left{
		min-height: 222px;	
		border-bottom:1px solid #4d4d4d
	}

	#graphHolder {
		position: relative;
		top: 4px;
	}

	.factbox-holder-col-center-right {
		border-right: none;
		min-height: 130px;
		/* border-bottom: 1px solid #4d4d4d; */
		border-left: none;
	}

	.large-number {
		font-family:"Guardian Egyptian Headline",Georgia,serif;
		font-weight:200;
		font-size:3.6em;
		float:left;
		clear:right;
		text-align:left;
		width:98%;
		padding:3px auto 12px 0;
		margin:0;
		color:#bdbdbd
	}

	.number-caption {
		font-family: "Guardian Egyptian Headline", Georgia, serif;
		font-weight: 400;
		font-size: 1.8em;
		line-height: 1.2em;
		font-weight: 200;
		text-align: left;
		color: #333;
		padding: 3px 10px 3px 0;
		clear: both;
	
	}
}


@media only screen and (max-width : 739px){

	#backToTopButton {
	  display:block;
	}

	#introHolder{
	  background-color: #CCCCCC;
	  background-image:url(../images/splash-739.jpg);
	  background-attachment: scroll;
	  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	 }

	#introButton {
	  text-align: left;
	  font-family: "Guardian Agate Sans", "Helvetica", Arial, sans-serif;
	  font-weight: 400;
	  font-size: 15px;
	  color: #F9F9F7;
	  float:left;
	  background-color: #4BC6DF;
	  height:18px;
	  border-radius: 17px;
	  margin: 12px 12px 0 0;
	  padding:9px 10px;

	  background-image: url(../images/arrow-right.svg);
	  background-position: right;
	  background-repeat:no-repeat;

	  width:210px;
	  cursor : pointer;
	  overflow:hidden;
	}

	#introAction{
		top: 0px;
		left: 0px;
		padding: 84px 12px 48px 12px;
		width: 90%;
	
	}

	.intro_headline{
	 	font-size: 180%;
		line-height: 150%;
	}

}

@media only screen and (min-width : 740px) and (max-width : 939px){
	#introHolder{
	  background-color: #CCCCCC;
	  background-image:url(../images/splash-739.jpg);
	  background-attachment: scroll;
	  
	 -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	 }

	#introButton{
		margin: 0 12px 0 0;
	}


	#backToTopButton {
	  display:block;
	}
}

@media only screen and (min-width : 940px) and (max-width : 1099px){
	#introHolder{
	  background-color: #CCCCCC;
	  background-image:url(../images/splash-1260.jpg);
	  background-attachment: scroll;
	  
	 -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	 }
	#introButton{
		margin: 0 12px 0 0;
	}


	#backToTopButton {
	  display:none;
	}

}

@media only screen and (min-width : 1100px){
	#introHolder{
	  background-color: #CCCCCC;
	  background-image:url(../images/splash-1260.jpg);
	  background-attachment: scroll;
	  
	 -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;

	  overflow:hidden;
	 }

	#introButton{
		margin: 0 12px 0 0;
	}


	#backToTopButton {
	  display:none;
	}

}


#introAction{
		top: 48px;
	}

#nav-top {
		left: 50%;
		margin-left: -29px;
		top: auto !important;
		bottom: 20px;
		background-image: url("images/up-chevron-44.png");
	}

/* END RESPOSIVE */