/*
FONT FAMILIES FROM GU STYLESHEET
<link rel="stylesheet" href="http://pasteup.guim.co.uk/0.0.5/css/fonts.pasteup.min.css"/>
"Guardian Egyptian Text", Georgia, serif;
"Guardian Egyptian Headline", Georgia, serif;
"Guardian Sans Text", Georgia, serif;
"Guardian Sans Headline", Georgia, serif;
"Guardian Titlepiece", Georgia, serif;
"Guardian Agate Sans", Arial, sans-serif;
"Guardian Compact", Georgia, serif;
*/

html, body {
	padding: 0;
	margin: 0;
	font-size: 10px;
}

#player-container{
	max-width:1260px;
	width: 100%;
	height: auto;
}

#topArea{
	width: 100%;
	height: auto;
	padding:0 0 48px 0;
}

#top-bar{
	position:relative;
	top:0px;
	left:0px;
	height:4px;
	width:70px;
	background-color:#4bc6df;
}

#top-header{
	position:relative;
	float:left;
	clear:right;
	left:0px;
	top:6px;
	width:100%;
	height:auto;
	font-family:"Guardian Egyptian Headline", Georgia, serif;
	font-size:2.2em;
	line-height: 1.2em;
	font-weight:700;
	text-align:left;
	color: #005689;
	padding-bottom:12px;
}

.sub-header{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:36px;
	font-family:"Guardian Egyptian Headline", Georgia, serif;
	font-size:1.8em;
	line-height: 1.2em;
	font-weight:200;
	text-align:left;
	color: #767676;
	padding:1px 0 0 0;
}


#allBarChartsHolder{
	width: 100%;
	height: auto;
}
.bar-chart-holder{
	display:block;
	width: auto;
	height: 120px;
	background-color: #FFF;
	padding: 12px 0 24px 0;
}


.bar-in-chart{
	fill: #4bc6df;
}

.chart text {
  fill: #767676;
  font: 10px "Guardian Agate Sans", Helvetica, Arial,sans-serif;
  text-anchor: end;
}



.axis path,
.axis line {
	  fill: none;
	  stroke: rgba(200,200,200,0.2);
	  shape-rendering: crispEdges;
}

.axis text {
	  font: 10px "Guardian Agate Sans", Helvetica, Arial,sans-serif;
	  fill: #4bc6df;
	  text-anchor: end;
	}

.cards-holder{
	display: inline-block;
	width: 100%;
	margin:0px;
	padding: 12px 0 0 0;
}

.player-card, .player-card-static{
	position: relative;
	width: 320px;
	height: auto;
	float:left;
	padding-top: 3px;
	cursor:pointer;
	background-color:none;
}

.player-card-selected{
	position: relative;
	width: 320px;
	height: auto;
	float:left;
	padding-top: 3px;
	cursor:pointer;
	background-color:#EAEAEA;
}

.playerCol-left{ 
	float: left; 
	width: 70px; 
	height:100px; 
	border-top: 1px solid #4bc6df; 
	font-family: "Guardian Egyptian Headline", Georgia, serif;
	font-weight: 200;
	font-size: 4.8em;
	color: #4bc6df;
}

.playerCol-right{ 
	position: absolute;
	top:0px;
	right:0px;
	width: 200px;  
	height:240px; 
	background:url("../images/cutouts.png");
	
}

.playerCol-center{ 
	display: inline-block; 
	font-family: "Guardian Agate Sans", Helvetica, Arial;
	font-weight: 500;
	font-size: 1.4em;
	line-height: 1em;
	width: auto; 
	height:100px;
	background-color:none; 
	color:#4bc6df;
	padding: 3px 0 0 0;
}

.player-card-infobox{
	position: relative;
	width: 100%;
	background-color:#333;
	color:#FFF;
}

#trophiesHolder{
	background-color: #edf9fc;
	width: 100%;
	max-width: 1260px;
}

.trophyItem{
	height: 180px;
	background: url("../images/trophies.svg");
	background-repeat: no-repeat;
	border-bottom: 1px dotted #767676;
}
.trophyYear{
	float: left; 
	width: 100%;
	height: 48px;
	margin-left: 92px;
	font-family: "Guardian Egyptian Headline", Georgia, serif;
	font-weight: 200;
	font-size: 4.8em;
	color: #767676;
}

.trophyCopy{
	float: left; 
	width: 100%;
	max-width:460px;
	height: 132px;
	margin-left: 92px;
	font-family: "Guardian Egyptian Headline", Georgia, serif;
	font-weight: 200;
	font-size: 1.5em;
	line-height: 1.2em;
	color: #767676;
}


/* drop down  - see media queries too */

#drop-down-holder{
	position:relative;
	width:100%;
	margin:0;	

}

.styled-select {
	float:left;
	width:240px;
	height:34px;
	padding-left:10px;
	overflow:hidden;
	background:url(../images/dropdown.png) no-repeat 218px #fff;
	border:1px solid #CCC;
	border-radius:17px
}

.styled-select:hover {
	background:url(../images/dropdown-white.png) no-repeat 218px #767676
}

.styled-select:hover #filter-dropdown {
	color:#fff
}



.drop-down-text-title{
	position: relative;
	float:left;
	font-family: "Guardian Egyptian Headline",Georgia,serif;
	font-size: 1.8em;
	font-weight: 500;
	color: #005689;
	padding: 10px 12px 0 0;
}

#filter-dropdown {
	background:transparent;
	width:240px;
	padding: 5px 5px 5px 2px;
	font-size:16px;
	line-height:1;
	border:0;
	border-radius:0;
	height:34px;
	-webkit-appearance:none;
	font-family:"Guardian Agate Sans",Arial,sans-serif;
	line-height:1.3em;
	color:#767676;
	font-weight:600;
	cursor:pointer
}

#filter-dropdown option {
	padding:10px;
	border-bottom:1px solid #767676;
	font-weight:400;
	color:#767676;
	background:#fff
}

/* *********** type *************** */

.large-number{
	font-family: "Guardian Egyptian Headline", Georgia, serif;
	font-weight: 200;
	font-size: 8.4em;
	text-align: left;
	padding: 0 10px 12px 70px;
	margin: 0;
	color: #bdbdbd;	
}

.nav-button{
	width:30px;
	height:30px;
	background-color:#005689;
	border-radius:50%;
	cursor:pointer;
}

body {
	font-family: "Guardian Agate Sans", Arial, sans-serif;
	font-size: 10px;
	color: #333;
	background-color: #FFF;
}

p{
	font-family: "Guardian Egyptian Headline", Georgia, serif;
	font-weight: 200;
	font-size: 1.8em;
	line-height: 1.5em;
	color: #767676;
}

h2{
	font-family: "Guardian Egyptian Headline", Georgia, serif;
	font-weight: 400;
	font-size: 3em;
	line-height: 1em;
	color: #333;
}

h3{
	font-family: "Guardian Egyptian Headline", Georgia, serif;
	font-weight: 400;
	font-size: 2.4em;
	line-height: 1.05em;
	color: #333;
}

h4{
	font-family: "Guardian Egyptian Headline", Georgia, serif;
	font-weight: 400;
	font-size: 2.4em;
	text-align:center;
	line-height: 1.5em;
	color: #767676;
}

h5{
	display: inline !important;
	font-family: "Guardian Egyptian Headline", Georgia, serif;
	font-weight: 500;
	font-size: 2.2em;
	text-align:left;
	line-height: 1.2em;
	padding:0 0 12px 0;
	margin: 0;
	color: #333;
}

h6{
	font-family: "Guardian Egyptian Headline", Georgia, serif;
	font-weight: 400;
	font-size: 1.8em;
	text-align:left;
	line-height: 1.5em;
	padding:0;
	margin: 0;
	color: #333;
}


.goal-line-marker{
	stroke-width: 1;
    stroke: #333;
    stroke-opacity: 0.5;
}

.goal-line-marker-selected{
	stroke-width: 1;
    stroke: #4bc6df;
}

#graphsHolder{
	padding-bottom:36px;
}

.section-header{
	width:100%;
	max-width:1260px;
	/*border-top: 2px solid #4bc6df;*/
	padding-bottom:36px;
}

.section-header-box-out{
	width:100%;
	max-width:1260px;
	border-top: 2px solid #4bc6df;
	padding:0 0 36px 3px;
	background-color: #edf9fc;
}

.section-header h2, .section-header-box-out h2{
	font-family: "Guardian Egyptian Headline", Georgia, serif;
	font-weight: 200;
	font-size: 2.4em;
	line-height: 1.05em;
	color: #333;
	padding: 0px;
	margin: 3px 0 0 0;

	}

.section-header p, .section-header-box-out p{
	font-family: "Guardian Egyptian Headline", Georgia, serif;
	font-weight: 300;
	font-size: 1.5em;
	text-align:left;
	line-height: 1.2em;
	margin:0px;
	width:100%;
	max-width:600px;
	color:#767676;
	}











/* ------------------------------------------------------------- THIS FOR FOUR IN ROW ------------------------------------------------------------ */


@media screen and (min-width: 400px) {

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper {
		width: 24%;
		padding-bottom: 24%;
		margin-right:1.333333333333%;
		margin-bottom:1.333333333333%;
	}

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(even),
	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(3n) {
		margin-right:1.333333333333%;
	}

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(4n) {
		margin-right: auto;
	}

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper.wc-shirts-2014-expanded > .wc-shirts-2014-cell::after {
	margin-bottom: -16%;
	}

	#wc-shirts-2014-header h3 {
	color: #333;
	display: inline;
}

	
}


/*
THIS FOR FIVE IN ROW -------------------------------------------------------------------------------------------------------------------------
*/
@media screen and (min-width: 550px) {

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper {
		width: 19%;
		padding-bottom: 19%;
		margin-right:1.25%;
		margin-bottom:1.25%;
}

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(even),
	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(3n) {
		margin-right:1.25%;
}

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(5n) {
		margin-right: auto;
}

#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper.wc-shirts-2014-expanded > .wc-shirts-2014-cell::after {
	margin-bottom: -15%;
	}

	#wc-shirts-2014-info-main-image-container {
		width: 45%;
		padding-left: 0;
	}

	#wc-shirts-2014-info-text-container {
	width: 55%;
	padding-top: 65px;
	}


		#wc-shirts-2014-info-heading {
	margin: 0 40px 0 40px;
}

#wc-shirts-2014-info-subheading {
	
	margin: 0 40px 0 40px;
}

	#wc-shirts-2014-info-description {
	margin: 0 40px 0 40px;
}

.wc-shirts-2014-info-main-image {
		margin-right: 0;
	}


}

/*
THIS FOR EIGHT IN ROW -------------------------------------------------------------------------------------------------------------------------
*/

@media screen and (min-width: 900px) {

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper {
		width: 12%;
		padding-bottom: 12%;
		margin-right: 0.57%;
		margin-bottom: 0.57%;
		font-size:3em;
	}

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(even),
	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(1n),
	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(3n),
	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(5n),
	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(7n)
	 {
		margin-right: 0.57%;
	}

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(8n) {
		margin-right: auto;
	}

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper.wc-shirts-2014-expanded > .wc-shirts-2014-cell::after {
	margin-bottom: -15%;
	}

	

	#wc-shirts-2014-info-main-image-container {
		margin-left: 6%;
		width: 39%;
	}

	#wc-shirts-2014-info-text-container {
	width: 55%;
	}


}

/*
THIS FOR TEN IN ROW -------------------------------------------------------------------------------------------------------------------------
*/

@media screen and (min-width: 1200px) {

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper {
		width: 9.5%;
		padding-bottom: 9.5%;
		margin-right: 0.55555555555556%;
		margin-bottom: 0.55555555555556%;
		font-size:3em;
	}

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(even),
	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(1n),
	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(3n),
	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(5n),
	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(7n),
	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(9n)
	 {
		margin-right: 0.55555555555556%;
	}

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper:nth-of-type(10n) {
		margin-right: auto;
	}

	#wc-shirts-2014-grid .wc-shirts-2014-cell-wrapper.wc-shirts-2014-expanded > .wc-shirts-2014-cell::after {
	margin-bottom: -12.5%;
	}

	#wc-shirts-2014-info-main-image-container {
		margin-left: 10.05555555555556%;
	}

}

